<div class="bg-pink-50 text-center py-10 ">
  <!-- العنوان -->
  <h2 class="text-2xl md:text-3xl trust font-semibold mb-6">
    <span class="relative  inline-block">
      <span class="trusted-by">Trusted By</span>
    </span>
    Over <span class="text-pink-500">4.5k+</span> Companies
  </h2>

  <!-- الشعارات -->
  <div class="flex flex-wrap justify-center items-center gap-6 px-4">
    <img src="/images/image 36.png" alt="coconut" class="w-[146px] h-auto" />
    <img src="/images/image 40.png" alt="syntax" class="w-[146px] h-auto" />
    <img src="/images/image 41.png" alt="tuborg" class="w-[146px] h-auto" />
    <img src="/images/image 38.png" alt="agency" class="w-[146px] h-auto" />
    <img src="/images/image 39.png" alt="magone" class="w-[146px] h-auto" />
    <img src="/images/image 37.png" alt="yappo" class="w-[146px] h-auto" />
  </div>
</div>
