<section class="bg-[#FEEDF7] p-4 rounded-lg my-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
    
    <!-- العنصر 1 -->
    <div class="flex flex-col items-center text-center gap-4  p-4 rounded-lg ">
      <img src="/images/delivery.png"
     alt="Free Delivery"
     class="w-[65px] h-[65px] rounded-full p-4 bg-[#F82BA9] object-contain" />

      <div>
        <h2 class="text-base font-bold text-[#160E4B] text-[20px]">Free Delivery</h2>
        <p class="text-[17px] my-2 text-[#757F95]">Orders Over $120</p>
      </div>
    </div>

    <!-- العنصر 2 -->
    <div class="flex flex-col items-center text-center gap-4  p-4 rounded-lg ">
      <img src="/images/refund.png" alt="Get Refund"
      class="w-[65px] h-[65px] rounded-full p-4 bg-[#F82BA9] object-contain">
      <div>
        <h2 class="text-base font-bold text-[#160E4B] text-[20px]">Get Refund</h2>
        <p class="text-[17px] my-2 text-[#757F95]">Within 30 Days Returns</p>
      </div>
    </div>

    <!-- العنصر 3 -->
    <div class="flex flex-col items-center text-center gap-4  p-4 rounded-lg ">
      <img src="/images/payment.png" alt="Safe Payment" 
      class="w-[65px] h-[65px] rounded-full p-4 bg-[#F82BA9] object-contain">
      <div>
        <h2 class="text-base font-bold text-[#160E4B] text-[20px]">Safe Payment</h2>
        <p class="text-[17px] my-2 text-[#757F95]">100% Secure Payment</p>
      </div>
    </div>

    <!-- العنصر 4 -->
    <div class="flex flex-col items-center text-center gap-4  p-4 rounded-lg ">
      <img src="/images/support.png" alt="24/7 Support" 
      class="w-[65px] h-[65px] rounded-full p-4 bg-[#F82BA9] object-contain">
      <div>
        <h2 class="text-base font-bold text-[#160E4B] text-[20px]">24/7 Support</h2>
        <p class="text-[17px] my-2 text-[#757F95]">Feel Free To Call Us</p>
      </div>
    </div>

  </div>
</section>

