
.text h3
{
    font-weight: 700;
    font-size: 17px;
    color: #F82BA9;
    letter-spacing: 2px;
      font-family: "Roboto", sans-serif;
}
.text h1
{
    font-weight: 700;
    font-size: 30px;
    color: #160E4B;
    font-family: "Inter", sans-serif;
}
