<footer class="bg-gray-100 mt-4 py-10">
  <div class="container mx-auto px-4 text-center">
    <!-- قائمة الروابط -->
    <ul class="flex flex-wrap justify-center items-center gap-3 md:gap-20 mb-6 text-sm md:text-base text-gray-700">
      <li>About Us</li>
      <li>Store Location</li>
      <li>Contact</li>
      <li>Delivery</li>
      <li>Policy</li>
      <li>FAQs</li>
    </ul>

    <!-- قسم الاشتراك -->
    <div class="mx-auto mt-5 max-w-xl">
      <h2 class=" get text-xl md:text-2xl font-semibold mb-2">
        Get <span class="text-pink-500">20%</span> Off Discount Coupon
      </h2>
      <p class="paragraph mb-4">By Subscribe Our Newsletter</p>

      <div class="relative w-full mt-5">
        <input
          type="email"
          placeholder="Enter Your Email"
          class="w-full pr-32 pl-4 py-3 rounded-full text-sm border border-gray-300 focus:outline-none focus:ring-2 focus:ring-pink-300"
        />
        <button
          class="absolute top-0 right-0 h-full bg-pink-500 hover:bg-pink-600 text-white rounded-full px-5 text-sm transition-all"
        >
          Subscribe →
        </button>
      </div>
    </div>
  </div>
</footer>



